.character {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  p {
    color: white;
    border: rgb(149, 161, 123) 2px solid;
    height: 30px;
    width: 100%;
    margin: 0.4rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
  }
  a {
    margin: 1rem;
    color: rgb(37, 68, 129);
  }
  a:hover {
    color: rgb(97, 134, 209);
  }
}
